<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel billing add}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
			{BEGIN Bill_ID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Bill_ID}" data-fieldname="Bill_ID" data-signal-error-for="Bill_ID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Bill_ID}">
		{BEGIN Bill_ID_label}{$label billing Bill_ID}{END Bill_ID_label}
	</label>
	<div class="col-md-6" >
		{$Bill_ID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Bill_ID">
		<div class="text-muted" >
		{$tooltip billing Bill_ID}
		</div>
	</div>
</div>
</div>
{END Bill_ID_fieldblock}

			{BEGIN TotalAmount_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_TotalAmount}" data-fieldname="TotalAmount" data-signal-error-for="TotalAmount{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_TotalAmount}">
		{BEGIN TotalAmount_label}{$label billing TotalAmount}{END TotalAmount_label}
	</label>
	<div class="col-md-6" >
		{$TotalAmount_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="TotalAmount">
		<div class="text-muted" >
		{$tooltip billing TotalAmount}
		</div>
	</div>
</div>
</div>
{END TotalAmount_fieldblock}

			{BEGIN BillDate_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_BillDate}" data-fieldname="BillDate" data-signal-error-for="BillDate{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_BillDate}">
		{BEGIN BillDate_label}{$label billing BillDate}{END BillDate_label}
	</label>
	<div class="col-md-6" >
		{$BillDate_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="BillDate">
		<div class="text-muted" >
		{$tooltip billing BillDate}
		</div>
	</div>
</div>
</div>
{END BillDate_fieldblock}

			{BEGIN BillStatus_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_BillStatus}" data-fieldname="BillStatus" data-signal-error-for="BillStatus{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_BillStatus}">
		{BEGIN BillStatus_label}{$label billing BillStatus}{END BillStatus_label}
	</label>
	<div class="col-md-6" >
		{$BillStatus_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="BillStatus">
		<div class="text-muted" >
		{$tooltip billing BillStatus}
		</div>
	</div>
</div>
</div>
{END BillStatus_fieldblock}

			{BEGIN AmountTax_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AmountTax}" data-fieldname="AmountTax" data-signal-error-for="AmountTax{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AmountTax}">
		{BEGIN AmountTax_label}{$label billing AmountTax}{END AmountTax_label}
	</label>
	<div class="col-md-6" >
		{$AmountTax_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AmountTax">
		<div class="text-muted" >
		{$tooltip billing AmountTax}
		</div>
	</div>
</div>
</div>
{END AmountTax_fieldblock}

			{BEGIN AmountBalance_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AmountBalance}" data-fieldname="AmountBalance" data-signal-error-for="AmountBalance{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AmountBalance}">
		{BEGIN AmountBalance_label}{$label billing AmountBalance}{END AmountBalance_label}
	</label>
	<div class="col-md-6" >
		{$AmountBalance_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AmountBalance">
		<div class="text-muted" >
		{$tooltip billing AmountBalance}
		</div>
	</div>
</div>
</div>
{END AmountBalance_fieldblock}

			{BEGIN AmountAdvance_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_AmountAdvance}" data-fieldname="AmountAdvance" data-signal-error-for="AmountAdvance{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_AmountAdvance}">
		{BEGIN AmountAdvance_label}{$label billing AmountAdvance}{END AmountAdvance_label}
	</label>
	<div class="col-md-6" >
		{$AmountAdvance_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="AmountAdvance">
		<div class="text-muted" >
		{$tooltip billing AmountAdvance}
		</div>
	</div>
</div>
</div>
{END AmountAdvance_fieldblock}

			{BEGIN Discount_ID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Discount_ID}" data-fieldname="Discount_ID" data-signal-error-for="Discount_ID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Discount_ID}">
		{BEGIN Discount_ID_label}{$label billing Discount_ID}{END Discount_ID_label}
	</label>
	<div class="col-md-6" >
		{$Discount_ID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Discount_ID">
		<div class="text-muted" >
		{$tooltip billing Discount_ID}
		</div>
	</div>
</div>
</div>
{END Discount_ID_fieldblock}

			{BEGIN Cust_ID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Cust_ID}" data-fieldname="Cust_ID" data-signal-error-for="Cust_ID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Cust_ID}">
		{BEGIN Cust_ID_label}{$label billing Cust_ID}{END Cust_ID_label}
	</label>
	<div class="col-md-6" >
		{$Cust_ID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Cust_ID">
		<div class="text-muted" >
		{$tooltip billing Cust_ID}
		</div>
	</div>
</div>
</div>
{END Cust_ID_fieldblock}

			{BEGIN Location_ID_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_Location_ID}" data-fieldname="Location_ID" data-signal-error-for="Location_ID{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_Location_ID}">
		{BEGIN Location_ID_label}{$label billing Location_ID}{END Location_ID_label}
	</label>
	<div class="col-md-6" >
		{$Location_ID_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="Location_ID">
		<div class="text-muted" >
		{$tooltip billing Location_ID}
		</div>
	</div>
</div>
</div>
{END Location_ID_fieldblock}


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>Save</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">Reset</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">Back to list</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">Cancel</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
