<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_viewpage}
<div {$viewpage_chiddenattr} data-pageid="{$pageid}" data-container="viewpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-12 "> 

{BEGIN viewheader}
	<h2 {$viewheader_hiddenattr} data-pageid="{$pageid}" data-brick="viewheader" >{$pagetitlelabel customer view}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END viewheader}



</div>
{END container_header}






</div>
{END container_viewpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class=" form-horizontal  col-md-12 "> 


<div {$viewfields_hiddenattr} data-pageid="{$pageid}" data-brick="viewfields" >

	<div class="container">
					{BEGIN Cust_ID_fieldblock}
	<div class="{$fielddispclass_Cust_ID} col-md-6 bs-viewcontrolgroup" data-fieldname="Cust_ID">
		<label class="control-label" for="{$labelfor_Cust_ID}">
			{$label customer Cust_ID}
		</label>
		<div class="" >
			{$Cust_ID_value}&nbsp;
		</div>
	</div>
{END Cust_ID_fieldblock}
					{BEGIN FirstName_fieldblock}
	<div class="{$fielddispclass_FirstName} col-md-6 bs-viewcontrolgroup" data-fieldname="FirstName">
		<label class="control-label" for="{$labelfor_FirstName}">
			{$label customer FirstName}
		</label>
		<div class="" >
			{$FirstName_value}&nbsp;
		</div>
	</div>
{END FirstName_fieldblock}
					{BEGIN MiddleName_fieldblock}
	<div class="{$fielddispclass_MiddleName} col-md-6 bs-viewcontrolgroup" data-fieldname="MiddleName">
		<label class="control-label" for="{$labelfor_MiddleName}">
			{$label customer MiddleName}
		</label>
		<div class="" >
			{$MiddleName_value}&nbsp;
		</div>
	</div>
{END MiddleName_fieldblock}
					{BEGIN LastName_fieldblock}
	<div class="{$fielddispclass_LastName} col-md-6 bs-viewcontrolgroup" data-fieldname="LastName">
		<label class="control-label" for="{$labelfor_LastName}">
			{$label customer LastName}
		</label>
		<div class="" >
			{$LastName_value}&nbsp;
		</div>
	</div>
{END LastName_fieldblock}
					{BEGIN Status_fieldblock}
	<div class="{$fielddispclass_Status} col-md-6 bs-viewcontrolgroup" data-fieldname="Status">
		<label class="control-label" for="{$labelfor_Status}">
			{$label customer Status}
		</label>
		<div class="" >
			{$Status_value}&nbsp;
		</div>
	</div>
{END Status_fieldblock}
					{BEGIN Gender_fieldblock}
	<div class="{$fielddispclass_Gender} col-md-6 bs-viewcontrolgroup" data-fieldname="Gender">
		<label class="control-label" for="{$labelfor_Gender}">
			{$label customer Gender}
		</label>
		<div class="" >
			{$Gender_value}&nbsp;
		</div>
	</div>
{END Gender_fieldblock}
					{BEGIN DOB_fieldblock}
	<div class="{$fielddispclass_DOB} col-md-6 bs-viewcontrolgroup" data-fieldname="DOB">
		<label class="control-label" for="{$labelfor_DOB}">
			{$label customer DOB}
		</label>
		<div class="" >
			{$DOB_value}&nbsp;
		</div>
	</div>
{END DOB_fieldblock}
					{BEGIN Email_fieldblock}
	<div class="{$fielddispclass_Email} col-md-6 bs-viewcontrolgroup" data-fieldname="Email">
		<label class="control-label" for="{$labelfor_Email}">
			{$label customer Email}
		</label>
		<div class="" >
			{$Email_value}&nbsp;
		</div>
	</div>
{END Email_fieldblock}
					{BEGIN PhoneNum_fieldblock}
	<div class="{$fielddispclass_PhoneNum} col-md-6 bs-viewcontrolgroup" data-fieldname="PhoneNum">
		<label class="control-label" for="{$labelfor_PhoneNum}">
			{$label customer PhoneNum}
		</label>
		<div class="" >
			{$PhoneNum_value}&nbsp;
		</div>
	</div>
{END PhoneNum_fieldblock}
					{BEGIN Discount_ID_fieldblock}
	<div class="{$fielddispclass_Discount_ID} col-md-6 bs-viewcontrolgroup" data-fieldname="Discount_ID">
		<label class="control-label" for="{$labelfor_Discount_ID}">
			{$label customer Discount_ID}
		</label>
		<div class="" >
			{$Discount_ID_value}&nbsp;
		</div>
	</div>
{END Discount_ID_fieldblock}
					{BEGIN Address_ID_fieldblock}
	<div class="{$fielddispclass_Address_ID} col-md-6 bs-viewcontrolgroup" data-fieldname="Address_ID">
		<label class="control-label" for="{$labelfor_Address_ID}">
			{$label customer Address_ID}
		</label>
		<div class="" >
			{$Address_ID_value}&nbsp;
		</div>
	</div>
{END Address_ID_fieldblock}
					{BEGIN LicenceNum_fieldblock}
	<div class="{$fielddispclass_LicenceNum} col-md-6 bs-viewcontrolgroup" data-fieldname="LicenceNum">
		<label class="control-label" for="{$labelfor_LicenceNum}">
			{$label customer LicenceNum}
		</label>
		<div class="" >
			{$LicenceNum_value}&nbsp;
		</div>
	</div>
{END LicenceNum_fieldblock}
					{BEGIN InsuranceNum_fieldblock}
	<div class="{$fielddispclass_InsuranceNum} col-md-6 bs-viewcontrolgroup" data-fieldname="InsuranceNum">
		<label class="control-label" for="{$labelfor_InsuranceNum}">
			{$label customer InsuranceNum}
		</label>
		<div class="" >
			{$InsuranceNum_value}&nbsp;
		</div>
	</div>
{END InsuranceNum_fieldblock}
	</div>
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-6 "> 

{BEGIN viewbuttons}
{BEGIN back_button}
<button class="btn btn-primary" {$backbutton_attrs}>Back to list</button>
{END back_button}
{BEGIN close_button}
<button href="#" class="btn btn-primary" {$closebutton_attrs}>Close window</button>
{END close_button}
{END viewbuttons}



</div>
{END container_leftbuttons}








{BEGIN container_leftbuttons_1}
<div {$leftbuttons_1_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons_1" class="   col-md-4 "> 

{BEGIN rightviewbuttons}
<div class="btn-group" role="group">
		{BEGIN prev_button}
	<button class="btn btn-default {$prevbutton_class}" {$prevbutton_attrs}><span class="glyphicon glyphicon-chevron-left"></span></button>
	{END prev_button}
	{BEGIN next_button}
	<button class="btn btn-default {$nextbutton_class}" {$nextbutton_attrs}><span class="glyphicon glyphicon-chevron-right"></span></button>
	{END next_button}
		{BEGIN view_menu_button}
	<div class="btn-group dropup" role="group">
		<button class="btn btn-default dropdown-toggle {$groupbutton_class}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<ul class="dropdown-menu dropdown-left">
									{BEGIN edit_page_button}
				<li><a href=# {$edit_page_button_attrs}>Edit</a></li>
			{END edit_page_button}
		</ul>
	</div>
	{END view_menu_button}
</div>
{END rightviewbuttons}



</div>
{END container_leftbuttons_1}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
