<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel payment search}</h2>
	{BEGIN printtabheader}<h4>{$printtabheader_text}</h4>{END printtabheader}

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN Payment_ID_fieldblock}		
	<div class="container {$fielddispclass_Payment_ID}" data-fieldname="Payment_ID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Payment_ID}">
				{$label payment Payment_ID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Payment_ID}
			</div>
			<div class="col-md-4" >
				{$Payment_ID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Payment_ID_editcontrol1}
			</div>
		</div>
	</div>
{END Payment_ID_fieldblock}
	{BEGIN PaymentType_fieldblock}		
	<div class="container {$fielddispclass_PaymentType}" data-fieldname="PaymentType">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_PaymentType}">
				{$label payment PaymentType}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_PaymentType}
			</div>
			<div class="col-md-4" >
				{$PaymentType_editcontrol}
			</div>
			<div class="col-md-4" >
				{$PaymentType_editcontrol1}
			</div>
		</div>
	</div>
{END PaymentType_fieldblock}
	{BEGIN TransactionNum_fieldblock}		
	<div class="container {$fielddispclass_TransactionNum}" data-fieldname="TransactionNum">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_TransactionNum}">
				{$label payment TransactionNum}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_TransactionNum}
			</div>
			<div class="col-md-4" >
				{$TransactionNum_editcontrol}
			</div>
			<div class="col-md-4" >
				{$TransactionNum_editcontrol1}
			</div>
		</div>
	</div>
{END TransactionNum_fieldblock}
	{BEGIN Cust_ID_fieldblock}		
	<div class="container {$fielddispclass_Cust_ID}" data-fieldname="Cust_ID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Cust_ID}">
				{$label payment Cust_ID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Cust_ID}
			</div>
			<div class="col-md-4" >
				{$Cust_ID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Cust_ID_editcontrol1}
			</div>
		</div>
	</div>
{END Cust_ID_fieldblock}
	{BEGIN Bill_ID_fieldblock}		
	<div class="container {$fielddispclass_Bill_ID}" data-fieldname="Bill_ID">
		<div class="form-group">
			<label class="col-md-2 control-label" for="{$labelfor_Bill_ID}">
				{$label payment Bill_ID}
			</label>
			<div class="col-md-2 bs-srchoption" >
				{$searchtype_Bill_ID}
			</div>
			<div class="col-md-4" >
				{$Bill_ID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$Bill_ID_editcontrol1}
			</div>
		</div>
	</div>
{END Bill_ID_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container form-horizontal   "> 




{BEGIN container_bbuttons}
<div {$bbuttons_chiddenattr} data-pageid="{$pageid}" data-container="bbuttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-10 col-md-offset-2"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
