<div {$pageattrs}>

{BEGIN container_column}
<div class="rnr-c rnr-ch rnr-c-column">

{BEGIN masterlist_title}
<div  class="style1 rnr-bl rnr-b-masterlistheader {$brickclass_masterlistheader}"><a {$backtomasterlink_attrs} class="btn btn-link btn-xs">Back to {$backtomasterlink_caption}</a><span>{$pagetitlelabel vehicle masterlist}</span></div>
{END masterlist_title}

<div class="rnr-hfiller"></div>
</div>
{END container_column}



{BEGIN container_mastergrid}



	<style>
	.bs-gridcell[data-field=VIN]:before {
		content: "{$label vehicle VIN}";
	}
	.bs-gridcell[data-field=Year]:before {
		content: "{$label vehicle Year}";
	}
	.bs-gridcell[data-field=Make]:before {
		content: "{$label vehicle Make}";
	}
	.bs-gridcell[data-field=Model]:before {
		content: "{$label vehicle Model}";
	}
	.bs-gridcell[data-field=Mileage]:before {
		content: "{$label vehicle Mileage}";
	}
	.bs-gridcell[data-field=Type]:before {
		content: "{$label vehicle Type}";
	}
	.bs-gridcell[data-field=DriveTrain]:before {
		content: "{$label vehicle DriveTrain}";
	}
	.bs-gridcell[data-field=CostPerMile]:before {
		content: "{$label vehicle CostPerMile}";
	}
	.bs-gridcell[data-field=RegistrationNum]:before {
		content: "{$label vehicle RegistrationNum}";
	}
</style>
<table {$masterlistgrid_hiddenattr} data-pageid="{$pageid}" data-brick="masterlistgrid" class="table rnr-b-mastergridfields rnr-gridtable bs-flexgrid" >
		<thead>
		<tr>
			<th class="{$VIN_class}">{$label vehicle VIN}</th>
			<th class="{$Year_class}">{$label vehicle Year}</th>
			<th class="{$Make_class}">{$label vehicle Make}</th>
			<th class="{$Model_class}">{$label vehicle Model}</th>
			<th class="{$Mileage_class}">{$label vehicle Mileage}</th>
			<th class="{$Type_class}">{$label vehicle Type}</th>
			<th class="{$DriveTrain_class}">{$label vehicle DriveTrain}</th>
			<th class="{$CostPerMile_class}">{$label vehicle CostPerMile}</th>
			<th class="{$RegistrationNum_class}">{$label vehicle RegistrationNum}</th>
		</tr>
	</thead>
	
	<tbody>
		<tr>
			<td class="{$VIN_class} bs-gridcell" data-field=VIN>{$VIN_mastervalue}</td>
			<td class="{$Year_class} bs-gridcell" data-field=Year>{$Year_mastervalue}</td>
			<td class="{$Make_class} bs-gridcell" data-field=Make>{$Make_mastervalue}</td>
			<td class="{$Model_class} bs-gridcell" data-field=Model>{$Model_mastervalue}</td>
			<td class="{$Mileage_class} bs-gridcell" data-field=Mileage>{$Mileage_mastervalue}</td>
			<td class="{$Type_class} bs-gridcell" data-field=Type>{$Type_mastervalue}</td>
			<td class="{$DriveTrain_class} bs-gridcell" data-field=DriveTrain>{$DriveTrain_mastervalue}</td>
			<td class="{$CostPerMile_class} bs-gridcell" data-field=CostPerMile>{$CostPerMile_mastervalue}</td>
			<td class="{$RegistrationNum_class} bs-gridcell" data-field=RegistrationNum>{$RegistrationNum_mastervalue}</td>
		</tr>
	</tbody>

</table> 




{END container_mastergrid}

</div>